@charset "UTF-8";
body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-relativ {
  position: relative;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

.guillemet::before {
  content: '«';
}

.guillemet::after {
  content: '»';
}

/* container max width -------------------  */
body {
  background-color: #090b1a;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1134px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #1b1938;
}

.image-section {
  width: 540px;
  background-color: #aa5cdb;
  background-image: url(../images/image-header-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-section::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(77, 7, 120, 0.55);
}

.main-section {
  padding: 78px 120px 65px 70px;
  width: 570px;
}

.header {
  color: white;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 2.5rem;
}

.header-color {
  color: #aa5cdb;
}

.text {
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 2rem;
}

.footer {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section:not(:last-child) {
  margin-right: 60px;
}

.footer__header {
  color: white;
  font-size: 24px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
}

@media screen and (max-width: 1100px) {
  .main-section {
    padding: 34px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .image-section {
    width: auto;
    height: 300px;
  }
  .main-section {
    width: auto;
    margin: 0 auto;
  }
  .footer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .footer-section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 425px) {
  .image-section {
    height: 240px;
    background-image: url(../images/image-header-mobile.jpg);
  }
  .header h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .text {
    margin: 0 auto 30px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 34px;
  }
}
